<div class="my-container">
<h2 class="center my-section">All blogs</h2>
  <section id="blog-grid" class="section blog blog-grid">
    <div class="container">
      <div id="blogContent" class="section-content">
        <% if current_user == @user %>
        <%= link_to 'New blog', new_blog_path, class: "btn btn-primary" %>
        <% end %>
      <br>
      <br>
        <div class="row">
          <%# <%= will_paginate %>
          <% if @blogs.any? %>
          <%= render @blogs %>
        <% else %>
          <h3>No blog yet</h3>
          <% end %>
          <%# <%= will_paginate %>
        </div>
      </div>
    </section>
  </div>
