<div class="row">
    <div class="col-md-5 col-sm-5">
        <h5>Feel free to drop us a line!</h5>
        <form action="php/contact-form.php" class="contact-form" id="contactForm" method="post" name="contactform">

            <div class="form-group">
                <input class="form-control" id="name" name="name" placeholder="Your Name" type="text" required>
            </div>

            <div class="form-group">
                <input class="form-control" id="email" name="email" placeholder="Email Address" type="email" required>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="message" name="massage" placeholder="Type your message here" rows="5" required></textarea>
            </div>

            <div id="contactFormResponse"></div>

            <button id="cfsubmit" type="submit" class="btn btn-dark btn-block contact-submit">Give us a shout</button>

        </form>
    </div>
    <div class="col-md-6 col-sm-7">
        <h5>Find us on Google map</h5>
        <div class="google-map">
            <div id="map"></div>
        </div>

        <div class="row contact-info-wrap">
            <div class="col-sm-6">
                <div>
                    <h5>Office Address</h5>
                    <address class="contact-info">
                        <span>590 Castro St</span><br>
                        <span>Mountain View</span>,
                        <span>CA </span> -
                        <span>94041</span><br>
                        <span>United States</span>
                    </address>
                </div>

            </div>
            <div class="col-sm-6">
                <div>
                    <h5>Contact Information</h5>
                    <div class="contact-info">
                        Local: ( 33 1) 42 68 53 00<br> Mobile: ( 33 1) 42 68 53 01<br> info@themewagon.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyssu17TI_His_j5Lbc5puGusujYDnIfs&callback=initMap"
    async defer></script>