<div class="col-lg-4 col-md-6 col-sm-12 ">
  <div class="blog-post">
    <header>
      <div class="blog-element">
        <%= image_tag album.cover_url, alt: asset_url("gear1.png") ,class: "img-fluid" %>
      </div>
    </header>
    <div class="blog-content">
      <h4><%= link_to album.name, user_album_path(album.user_id, album.id) %> </h4>
      <div class="post-meta">
        <span>By <%= link_to @user.name, "#" %></span>
        <span><%= album.total_views %> views</span>
      </div>
    </div>
  </div>
</div>