<div class="my-container">
  <section id="blog" class="section blog">
    <div class="container">
      <h2 class="center">All albums</h2>
      <br>
      <div id="blogContent" class="section-content">
        <div class="row">
          <% if @albums.any? %>
          <%= render @albums, locals: { user: @user } %>
        <% else %>
          <h3>No album yet</h3>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $("#sidebar_album").addClass("active");
</script>
