<div class="my-container">
  <section id="blog" class="section blog">
    <div class="container">
      <% if current_user == @user %>
        <%= link_to new_album_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i> New album
        <% end %>
      <% end %>
      <h2 class="center">Albums</h2>
      <br>
      <div id="blogContent" class="section-content">
        <% if current_user == @user %>
          <%= link_to 'New album', new_album_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <h2 class="center">Albums</h2>
      <br>
      <div id="blogContent" class="section-content">
        <div class="row">
          <%= render @albums, locals: { user: @user } %>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $("#sidebar_album").addClass("active");
</script>