<div class="my-container">
  <h2 class="center">Albums</h2>
  <section id="blog" class="section blog">
    <div class="container">
      <div id="blogContent" class="section-content">
        <div class="row">
          <%= render @albums, locals: { user: @user } %>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $("#sidebar_album").addClass("active");
</script>