<div class="my-container" id="album-container">
  <h3> <%= @album.name %> </h3>
  <div class="row">
    <%= render @images %>
  </div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#uploader">Upload Image</button>
</div>
<script>
  $("#sidebar_album").addClass("active");
</script>
