<nav id="sidebar" >
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="#">
        <i class="material-icons">home</i>
        Home
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">face</i>
        About
      </a>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
        <i class="material-icons">perm_media</i>
        Albums
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">description</i>
        Blog
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">help</i>
        FAQ
      </a>
    </li>
  </ul>
</nav>