<% if current_user %>
  <nav id="sidebar">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li id="sidebar_home">
      <a href="#">
        <i class="fa fa-home"></i>
        Home
      </a>
    </li>
    <li id="sidebar_about">
      <%= link_to about_path do %>
        <i class="fa fa-users"></i> About
      <% end %>
    </li>
    <li id="sidebar_album">
      <%= link_to user_albums_path(current_user) do%>
        <i class="fa fa-image"></i>
        Albums
      <% end %>
    </li>
    <li id="sidebar_blog">
      <a href="#">
        <i class="fa fa-file-text"></i>
        Blog
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-question-circle"></i>
        FAQ
      </a>
    </li>
  </ul>
</nav>
<% end %>
