<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="img-container">
    <%= image_tag image.url, class: "img-fluid", 
    data:{ toggle: "modal", target: "#modal", id: "#{image.id}"} %>
  </div>
</div>