<div class="modal fade" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-8 modal-image">
          <img id="modalImg" class="img-fluid"/>
        </div>
        <div class="col-md-4">
          <div class="container" id="modalContent">
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>